body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(56, 182, 66); 
     height: 100vh; 


}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border: 5px solid #34db7a; /* Blue border */
    border-radius: 10px; /* Optional: rounded corners */
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
h1, h2{
    color: rgb(91, 53, 26) ;
}
a{
    color:rgb(66, 11, 119);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}
a:hover{
    color:rgb(229, 96, 1);
}
.recipe{
    padding: 40px;
    color:black;
    font-size: 20px;
}
p{
    text-align: left;
    width: 60%;
}
